{{#foreach posts}}

	{{#if @first}}
		<section class="{{post_class}} post-listing hc-featured" style="background-image: url({{img_url feature_image}})">
			<a href="{{url}}"><div class="hc-featured-text-box">
				<h2 class="hc-featured-text">{{{title}}}</h2>
				<section>
					<p>{{excerpt words="20"}}...</p>
				</section>
			</div></a>
		</section>
		{{/if}}
{{/foreach}}

<section class="non-featured">
	{{#foreach posts}}
		{{#unless @first}}
			<section class="{{post_class}} post-listing {{!-- {{#if @odd}}odd-post{{else}}even-post{{/if}} --}}">
				<h2><a href="{{url}}">{{{title}}}</a></h2>
					<aside class="post-meta">
						<p>Thoughts {{#if tags}} about {{tags}} {{/if}} written {{date published_at timeago="true"}}.</p>
					</aside>
				<section>
				<p>{{excerpt words="20"}}...</p>
				</section>
				<hr class="post-list-line">
			</section>
			{{/unless}}
	{{/foreach}}
</section>
<div class="clear"></div>
<div class="hc-pagination">
	{{pagination}}
</div>